# Miscellaneous (Arquivos de sistema e logs)
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code (configurações de debug e tarefas)
.vscode/

# Flutter/Dart/Pub (Caches e pastas de compilação)
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Cobertura de testes
/coverage/

# Arquivos de símbolos e mapas de ofuscação (para produção)
app.*.symbols
app.*.map.json

# Android Studio - Artefatos de build
/android/app/debug
/android/app/profile
/android/app/release

# Arquivos de ambiente (Segurança: nunca envie suas chaves de API!)
.env*
